<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('chat_message', function(msg){
    console.log('message: ', msg);
  });
  socket.on('allUsers', function(msg){

    console.log('users: ', msg);
  });
  socket.on('onlineStateChange', function(msg){

console.log('change: ', msg);
});
  // socket.on('chat_message',)
</script>